<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
            <!-- Top Navigation -->
            {% include 'nav.html.twig' %}

            <!-- Body -->
            {% block body %}{% endblock %}

            <!-- Footer -->
            {% include 'footer.html.twig' %}
    </body>
</html>
